access==1.1.9
affine==2.4.0
aiofiles==22.1.0
ajsonrpc==1.2.0
geopandas==0.13.2
hyperopt==0.2.7
libpysal==4.7.0
matplotlib==3.7.1
missingno==0.5.2
numpy==1.24.2
pandas==2.0.0
plotly==5.14.1
pysal==23.1
scikit-learn==1.2.2
scipy==1.10.1
seaborn==0.12.2
statsmodels==0.14.0
xgboost==1.7.5
